Package: com.ipadkid.enablelivephotos
Name: Enable Live Photos
Author: ipad_kid <ipadkid358@gmail.com>
Description: Enables Live Photos recording and badges
Depends: mobilesubstrate
Maintainer: ipad_kid <ipadkid358@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.0.1
Tag: ipadkid::true
