Package: com.ipadkid.infinitezoom
Name: InfiniteZoom
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Remove zoom restriction in Photos
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
