Package: com.ipadkid.touchr
Name: Touchr
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Touch the home button to wake, and simulate a press. Hold to open switcher. Double tap still triggers reachability. Tap and hold to screenshot
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Tag: ipadkid::true
