Package: com.ipadkid.darkalerts
Name: DarkAlerts
Version: 0.0.1
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Dark style alerts and action sheets
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Tag: ipadkid::true
