Package: com.chewmieser.statusvolx
Name: StatusVolX
Depends: mobilesubstrate
Conflicts: com.chewmieser.statusvol, com.chewmieser.statusvollite
Version: 0.6
Architecture: iphoneos-arm
Description: Volume HUD in your status bar
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: Steven Rolfe
Section: Tweaks
Depiction: http://apt.steverolfe.com/depiction/statusvolx.html
