Package: com.ipadkid.nativevbug
Name: NativeVBug
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Activator listener to show the iOS native visual debugger
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Tag: ipadkid::true
