Package: com.ipadkid.facedown
Name: FaceDown
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Sleep device when turning it facedown, and wake it back up by turning it faceup. Compatible with iOS 10 only
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
