Package: com.ipadkid.nocydiaads
Name: NoCydiaAds
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Same code from Flame to remove the ad things on the front page of Cydia
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
