Package: com.ipadkid.snapper
Name: Snapper
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: A personal remake of Snapper 2 with personal features only. Take screenshots of parts of the screen, similar to Snipping Tool on Windows
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Tag: ipadkid::true
