Package: com.ipadkid.notogglecolor
Name: NoToggleColor
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Removed the background of iOS 10 Control Center toggles
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
