Package: com.ipadkid.ncifneeded
Name: NCIfNeeded
Version: 2.1.0
Description: When opening the Notification Center, this tweak will make it open straight to the Notifications view if there are any pending notifications, and straight to the Today view if not.
Section: Tweaks
Depends: mobilesubstrate
Architecture: iphoneos-arm
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: Jay Zuerndorfer
Tag: ipadkid::true
