Package: com.ipadkid.cleannotifications
Name: CleanNotifications10
Depends: mobilesubstrate
Version: 1.0.4
Architecture: iphoneos-arm
Description: Give notifications and widgets a cleaner look.
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: AppleBetas
Section: Tweaks
