Package: com.ipadkid.lockglyphx
Name: LockGlyphX
Depends: mobilesubstrate
Conflicts: com.evilgoldfish.lockglyph, com.evilgoldfish.lockglyphx, xyz.evilgoldfish.lockglyphx
Version: 0.0.1
Architecture: iphoneos-arm
Description: Apple Pay animation when unlocking device
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: evilgoldfish
Section: Tweaks
Tag: ipadkid::true
