Package: com.ipadkid.lockglyphx
Name: LockGlyphX
Depends: firmware (>= 10.0), mobilesubstrate
Conflicts: com.evilgoldfish.lockglyph, com.evilgoldfish.lockglyphx, xyz.evilgoldfish.lockglyphx
Version: 0.0.1
Architecture: iphoneos-arm
Description: Apple Pay animation when unlocking device. This is a private stripped version. Themes are not supported, and many values are hard coded for a Plus device
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: evilgoldfish
Section: Tweaks
