Package: com.ipadkid.flexlockfix
Name: FLEXLockFix
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Fixes the bug with FLEX, where it doesn't show up on the lockscreen
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
