Package: com.ipadkid.normalfsccsize
Name: NormalFSCCSize
Depends: mobilesubstrate, com.rpetrich.flipcontrolcenter
Version: 0.0.1
Architecture: iphoneos-arm
Description: Make FlipControlCenter buttons normal sized
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Tag: ipadkid::true
