Package: com.ipadkid.ntspeed
Name: NtSpeed
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Fork of Julio Verne's NtSpeed. Display data rate in statusbar
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Tag: ipadkid::true
